@{
    ViewBag.Title = "AboutUs";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h2>Founders Note</h2> 
    <a href="/Profile/Index?id=2">Vanshaj</a>
    <br />
    <a href="/Profile/Index?id=1">Deepanshi</a>
   
</p>
